/* Tablet 768px*/
@media  screen and (max-width: 768px) {
    .container .h-habilidades .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

}
/* Mobile 425px*/
@media  screen and (max-width: 225px) {
    .container .h-name {
        margin-top: 10%;
        margin-bottom: 50px;
    }
    .container .h-name h1 {
        font-size: 28px;
    }
    .container .h-name h2 {
        font-size: 22px;
    }
    /*Sobre*/
    .container .h-sobre {
        width: 100%;
        min-height: 100px;
        margin-bottom: 50px;
    }
    .container .h-ttitle-sobre h2 {
        margin-top: 5%;
        font-size: 22px;
    }
    .container .h-sobre .paragraf {
        font-size: 18px;
    }
    /*Educacao*/
    .container .h-educacao .h-title-educacao h2 {
        margin-top: 5%;
        font-size: 22px;
    }
    .container .h-experiencia .item {
        margin-bottom: 50px;
    }
    .container .h-experiencia .item title {
        margin-bottom: 20px;
    }
    .container .h-experiencia .item title h2{
        font-size: 22px;
    }
    .container .h-experiencia .item title span{
        font-size: 22px;
    }

    /*Habilidades*/
    .container .h-habilidades .h-title-habilidades h2 {
        margin-top: 5%;
        font-size: 22px;
    }
    .container .h-habilidades .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    /*Contato*/
    .container .h-contato .h-title-contato h2 {
        margin-top: 5%;
        font-size: 22px;
    }
    

}

/*Mobile 375px*/
@media  screen and (max-width: 375px) {
    .container .h-name {
        margin-top: 10%;
        margin-bottom: 50px;
    }
    .container .h-name h1{
        font-size: 28px;
    }
    .container .h-name h2{
        font-size: 22px;
    }

    /*Sobre*/
    .container .h-sobre {
        width: 100%;
        min-height: 100px;
        margin-bottom: 50px;
    }
    .container .h-sobre .h-title-sobre h2{
        margin-top: 5%;
        font-size: 22px;
    }
    .container .h-sobre .paragraf{
        font-size: 18px;
    }

    /*Educação*/
    .container .h-educacao .h-title-educacao h2 {
        margin-top: 5%;
        font-size: 22px;

    }
    .container .h-educacao .item {
        margin-bottom: 50px;
    }
    .container .h-educacao .item .title{
        margin-bottom: 20px;
    }
    .container .h-educacao .item .title h2 {
        margin-bottom: 22px;
    }
    .container .h-educacao .item .title span {
        margin-bottom: 22px;
    }
    /*Habilidades*/
    .container .h-habilidades .h-title-habilidades h2 {
        margin-top: 5%;
        font-size: 22px;
    }
    .container .h-habilidades .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .container .h-habilidades .item .title {
        min-width: 100%;
        margin-bottom: 10px;
    }
    .container .h-habilidades .item .icon {
        width: 100%;
    }
    /*Contato*/
    .container .h-contato .h-title-contato h2 {
        margin-top: 5%;
        font-size: 22px;
    }
}